services:
  redis:
    image: redis:8.2-alpine
    container_name: my-redis
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - redis_data:/data  # сохраняем данные
    env_file:
      - .env
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"

volumes:
  redis_data:
